#results > li,
#pinned-items > li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  border: solid 1px #ccc;
  background-color: white;
  margin: 4px;
  padding: 4px;
  width: 300px;
  height: 80px;
  overflow: hidden;
  cursor: move;
}
#results > li .remove-pinned,
#pinned-items > li .remove-pinned,
#results > li .pin,
#pinned-items > li .pin {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ccc;
  padding: 2px 4px;
  opacity: 0.3;
}
#results > li .remove-pinned:hover,
#pinned-items > li .remove-pinned:hover,
#results > li .pin:hover,
#pinned-items > li .pin:hover {
  opacity: 1;
}
#results .summary input,
#pinned-items .summary input,
#results .summary .metadata,
#pinned-items .summary .metadata,
#results .summary .related,
#pinned-items .summary .related,
#results .summary .remove,
#pinned-items .summary .remove {
  display: none;
}
#results .summary h3,
#pinned-items .summary h3,
#results .summary .contentType,
#pinned-items .summary .contentType {
  margin: 0;
  display: inline;
}
#pinned-items {
  min-height: 80px;
}
#pinned-items.pinned-drag-hover {
  cursor: move;
}
#pinned-items > li.placeholder {
  display: block;
  height: auto;
  width: auto;
  border: none;
  cursor: default;
  background-color: transparent;
}
#pinned-items > li.placeholder .remove-pinned {
  display: none;
}
#results {
  clear: both;
}
#pager li {
  display: inline;
  margin: 4px;
}
